<!-- update book header -->
<div class="header" style="display: flex; align-items: center;margin: 0 20px;">
    <button class="btn btn-sm btn-success" style="margin: 10px 0 0 0;" routerLink="/dashboard"><- Back</button>
    <h2 style="padding: 5px; margin: 10px 0 0 20px;">Update Book</h2>

</div>
<hr>

<!-- update book body -->
<div class="container">
    <div class="card">
        <div class="card-body">
            <!-- update form  -->
                <form [formGroup]="updateForm" (ngSubmit)="update()">
                    <h2 style="text-align: center; font-weight: bold;">{{book.name}}</h2>
                    <div class="row">
                        <!-- book cover image -->
                        <div class="col-4">
                            <div class="image">
                                <img src="{{book.imageUrl}}" alt="Cover Image">
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="row">
                                <!-- book name -->
                                <mat-form-field appearance="outline">
                                    <mat-label>Book Name</mat-label>
                                    <input type="text" formControlName="name" matInput>
                                </mat-form-field>
                                <!-- book description -->
                                <mat-form-field appearance="outline">
                                    <mat-label>Book Description</mat-label>
                                    <textarea formControlName="description" matInput>{{book.description}}</textarea>
                                </mat-form-field>
                                <!-- book author -->
                                <mat-form-field appearance="outline">
                                    <mat-label>Author</mat-label>
                                    <input formControlName="author" type="text" matInput>
                                </mat-form-field>
                                <!-- book price -->
                                <mat-form-field appearance="outline">
                                    <mat-label>Price</mat-label>
                                    <input formControlName="price"  type="number" matInput>
                                </mat-form-field>
                                <!-- book cover page url -->
                                <mat-form-field appearance="outline">
                                    <mat-label>Cover Page Url</mat-label>
                                    <input formControlName="imageUrl" type="text" matInput>
                                </mat-form-field>
                                <!-- update button -->
                                <div style="display:flex; justify-content: flex-end;">
                                    <button class="btn btn-sm btn-primary" type="submit" style="width:100px;">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
    </div>
</div>